<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace">

    <extensions>
        <add assembly="NLog.Extensions.Logging"/>
    </extensions>

    <!-- Определение переменных -->
    <variables>
        <!-- Объявление переменной logLayout -->
        <variable name="logLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
    </variables>

    <!-- Уровень минимального логирования -->
    <targets>
        <!-- Логирование в консоль -->
        <target xsi:type="ColoredConsole"
                name="lifetimeConsole"
                layout="${var:logLayout}" />

        <!-- Логирование в текстовый файл -->
        <target xsi:type="File"
                name="allfile"
                fileName="C:\logs\VpnBot\log_${shortdate}.log"
                maxArchiveDays="14"
                maxArchiveFiles="14"
                layout="${var:logLayout}" />
    </targets>

    <rules>
        <!-- Правила логирования -->
        <!-- Логировать все сообщения с уровня Info и выше в консоль -->
        <logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />

        <!-- Логировать все сообщения с уровня Warn и выше в текстовый файл -->
        <logger name="*" minlevel="Trace" rulename="logToFile" writeTo="allfile" />
    </rules>
</nlog>
